.chatbot{
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding: 5px;
    background-color: aqua;
    height: 30%;
    width: 20%;
    margin-right: 1%;
    margin-bottom: 1%;
}
.textbox{
    position: fixed;
    bottom: 2%;
    right: 2%;
}
.chatbotTextbox{
    height: 80%;
    overflow: scroll;
}
li{
    list-style-type: none;
}
ul{
    margin: 0;
    padding: 1px;
}